.menu-img-container {
  position: relative;
  /* display: block; */
}

.menu-img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.menu-img-overlay {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 0;

  display: flex;
  align-items: center;
}

.menu-img-para {
  color: white;
  font-size: 5rem;
  font-weight: bold;  

  flex: 1;
  max-width: 1600px;
  margin: 0 auto;
  padding: 50px;
}

.menu-list-container {
  max-width: 1600px;
  padding: 50px;
  margin: auto;

  background-color: white;
}

.menu-header-container {
  padding: 40px 0;
}

.menu-header {
  font-size: 3rem;
  padding-bottom: 20px;
  border-bottom: 5px solid gray;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;  
}

.menu-item {
  display: flex;
}

.menu-item-img {
  display: inline-block;

  height: 200px;
  width: 300px;
  object-fit: cover;
}

.menu-item-name,
.menu-item-price {
  font-weight: bold;
  font-size: 1.5rem;
}

.name-and-price {
  flex: 1;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 900px) {
  .menu-item-img {
    width: 100px;
    height: 80px;
  }
}

@media (max-width: 730px) {
  .menu-item-img {
    width: 100px;
    height: 80px;
  }

  .menu-img-para {
    text-align: center;
  }

  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 500px) {

  .header {
    padding: 20px 20px;
  }

  .menu-list-container {
    padding: 0 15px 20px;
  }

  .menu-img-para {
    padding: 0 10px;
    text-align: center;
  }
  .menu-item-name,
  .menu-item-price {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .menu-item-name,
  .menu-item-price {
    font-size: 0.9rem;
  }

  .menu-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}